<div class="container-fluid bg-semiBlack">
    <div class="py-2">
        <div id="tooltip-bar">
        </div>
        <div id="breadscrum-bar">

        </div>
        <div id="message-block">

        </div><!-- content-top -->

        <section class="p-4 mb-4 text-center container text-bg-cf">

            <h1 class="text-center mb-3">Buy + Sell + Save</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 gy-4 justify-content-around">
                <div class="col">
                    <div class="card border-0 shadow-sm card_home_category rounded-0" data-category="Phones">
                        <div class="card-header">
                            <h3 class="card-title">
                                Phones + iPhones
                            </h3>
                        </div>
                        <div class="big_image bgg-cf-100">
                            <a href="#!category/Apple/iPhone" class="d-block h3 stretched-link"
                                title="Buy and sell phones">
                                <img src="https://static.swappa.com/static/images/categories/retro/category_phones_300x300.png"
                                    class="img-fluid" alt="Used and refurbished phones">
                            </a>
                        </div>
                        <div class="card-body bg-cf">

                            <div class="d-flex justify-content-around fs-sm">
                                <span>
                                    <i class="fa-solid fa-list-check color-blue" aria-hidden="true"></i>
                                    13454 approved listings
                                </span>
                                <span>
                                    <i class="fa-solid fa-users color-blue" aria-hidden="true"></i>
                                    1642 legit sellers
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-sm card_home_category rounded-0" data-category="Phones">
                        <div class="card-header">
                            <h3 class="card-title">
                                MacBooks + Laptops
                            </h3>
                        </div>
                        <div class="big_image bgg-cf-100">
                            <a href="assests/html/productList.html" class="d-block h3 stretched-link"
                                title="Buy and sell phones">
                                <img src="https://static.swappa.com/static/images/categories/retro/category_laptops_300x300.png"
                                    class="img-fluid" alt="Used and refurbished phones">
                            </a>
                        </div>
                        <div class="card-body bg-cf">

                            <div class="d-flex justify-content-around fs-sm">
                                <span>
                                    <i class="fa-solid fa-list-check color-blue" aria-hidden="true"></i>
                                    13454 approved listings
                                </span>
                                <span>
                                    <i class="fa-solid fa-users color-blue" aria-hidden="true"></i>
                                    1642 legit sellers
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-sm card_home_category rounded-0" data-category="Phones">
                        <div class="card-header">
                            <h3 class="card-title">
                                Sneakers + Shoes
                            </h3>
                        </div>
                        <div class="big_image bgg-cf-100">
                            <a href="assests/html/productList.html" class="d-block h3 stretched-link"
                                title="Buy and sell phones">
                                <img src="https://static.swappa.com/static/images/categories/retro/category_shoes_300x300.png"
                                    class="img-fluid" alt="Used and refurbished phones">
                            </a>
                        </div>
                        <div class="card-body bg-cf">

                            <div class="d-flex justify-content-around fs-sm">
                                <span>
                                    <i class="fa-solid fa-list-check color-blue" aria-hidden="true"></i>
                                    13454 approved listings
                                </span>
                                <span>
                                    <i class="fa-solid fa-users color-blue" aria-hidden="true"></i>
                                    1642 legit sellers
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section  class="p-4 mb-4 pt-2 text-center container text-bg-cf">
            <div class="mb-3 rounded-0 text-center card border-0">

                <h3 class="text-center rounded-0 card-header pb-3 bg-cf">Shop Phones by Carrier</h3>

                <div class="row row-cols-2 row-cols-md-5 row-cols-xl-6 justify-content-center bgg-cf-0 pb-1 m-0">
                    <div class="col">
                        <a href="assests/html/productList.html" class="btn d-block border-0 rounded-0"><img
                                src="https://static.swappa.com/static/images/carrier/unlocked_btn.svg" class="img-fluid"
                                alt=""></a>
                    </div>
                    <div class="col">
                        <a href="assests/html/productList.html" class="btn d-block border-0 rounded-0"><img
                                src="https://static.swappa.com/static/images/carrier/att_btn.svg" class="img-fluid"
                                alt=""></a>
                    </div>
                    <div class="col">
                        <a href="assests/html/productList.html" class="btn d-block border-0 rounded-0"><img
                                src="https://static.swappa.com/static/images/carrier/tmobile_btn.svg" class="img-fluid"
                                alt=""></a>
                    </div>
                    <div class="col">
                        <a href="assests/html/productList.html" class="btn d-block border-0 rounded-0"><img
                                src="https://static.swappa.com/static/images/carrier/verizon_btn.svg" class="img-fluid"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <!-- genres -->
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-6 justify-content-center gy-4"
                ng-include="'assests/html/genres.html'"></div>
            <!-- banner -->
            <banner class="card my-4 p-3 shadow-sm border-0 rounded-0" style="background-color: rgb(116, 114, 100);">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 justify-content-center align-items-center">
                    <div class="col text-center">

                        <h4 class="text-white"><i class="fa-solid fa-sack-dollar"></i> Get more green, get paid fast
                        </h4>
                    </div>
                    <div class="col text-center">
                        <a href="" class="btn border rounded-0"><span style="font-size: 1.2rem;" class="text-white">Sell with
                                Swappa <i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </banner>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-6 justify-content-center gy-4"
                id="brand-swappa">
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/amazon/image_mark/iRFLLFuc.png"
                            class="img-fluid" alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Amazon</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/apple/image_mark/jaVqDkqE.png" class="img-fluid"
                            alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Apple</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/google/image_mark/vQaBzUAy.png"
                            class="img-fluid" alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Google</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/jordan/image_mark/ncYfbXIa.png"
                            class="img-fluid" alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Jordan</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/microsoft/image_mark/VBaXkaGh.png"
                            class="img-fluid" alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Windows</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 bgg-cf-100 rounded-0 border-0">
                        <img src="https://static.swappa.com/media/brand/nvidia/image_mark/cZUUeGcU.png"
                            class="img-fluid" alt="">
                        <a href="assests/html/productList.html" class="stretched-link mt-lg-3 text-semiBlack"
                            style="font-size: 1.2rem; color: green;">Nvidia</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- product -->
        <section  class="p-4 mb-4 pt-2 text-center container text-bg-cf">
            <!-- product-list -->
            <!-- <pre>
                {{series}}
            </pre> -->
            <div class="mt-3 pt-1 rounded" ng-repeat="element in series | limitTo:1:0">
                <div class="d-flex align-items-baseline my-4">
                    <div class="flex-fill hori-stripe-pattern-warm"></div>
                    <div class="mx-4 mb-0 text-center h2"> {{element.name}} </div>
                    <div class="flex-fill hori-stripe-pattern-warm"></div>
                </div>
                <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 justify-content-around">
                    <div class="col mb-3" ng-repeat="ele in element.series | limitTo:5:0">
                        <div class="card rounded-0 border-0 bgg-cf-0 text-center d-product justify-content-center p-2 pb-2">
                            <a href="#!category/Apple/{{element.name}}/{{ele.name}}" class="stretched-link"><img
                                    src="assests/srcPic/{{ele.thumbnail}}" class="img-fluid mt-2 mb-3" alt=""></a>
                            <span> {{ele.name}} </span>
                            <div class="d-flex flex-row mt-2 justify-content-center" ng-hide="(ele.star==null)">
                                <i ng-repeat="s in star"
                                    class="{{(s <= ele.star) ? 'fa-solid fa-star' : (s - ele.star > 0 && s - ele.star < 1) ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star'}}"
                                    style="color: #ff7b00;"></i>
                            </div>
                            <div class="row row-cols-2 justify-content-between mt-3 price">
                                <div class="col text-center d-flex flex-row gap-1">
                                    <span style="color: green;">${{ele.curPrice}} </span>
                                    <span ng-hide="ele.oriPrice == null"
                                        style="text-decoration: line-through;">${{ele.oriPrice}}</span>
                                </div>
                                <div class="col text-end">
                                    <i ng-hide="categories[0].logo==null" class="{{categories[0].logo}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#!category/{{element.name1}}/{{element.name}}/{{ele.name}}"
                                class="text-semiBlack">Guides</a> ·
                            <a href="#!category/{{element.name1}}/{{element.name}}/{{ele.name}}"
                                class="text-semiBlack">Compare</a>
                        </div>
                    </div>
                </div>
            </div>
            <banner class="card mt-2 p-3 rounded-0 border-0" style="background-color: rgb(224, 204, 190);">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 justify-content-center align-items-center">

                    <div class="col text-center">
                        <img src="https://static.swappa.com/static/images/banners/trade_in_banner_icons_white.png"
                            class="img-fluid" style="filter: invert(1);" alt="">
                    </div>
                    <div class="col text-center">

                        <h4 class=" text-semiBlack">Sell fast with less work
                        </h4>
                    </div>
                    <div class="col text-center">
                        <a href="" class="btn border-black rounded-0"><span style="font-size: 1.2rem;" class=" text-semiBlack">Sell
                                with
                                Swappa <i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </banner>


            <div class="mt-4" ng-repeat="element in series | limitTo:5:1">
                <div class="d-flex align-items-baseline my-4">
                    <div class="flex-fill hori-stripe-pattern-warm"></div>
                    <div class="mx-4 mb-0 text-center h2"> {{element.name}} </div>
                    <div class="flex-fill hori-stripe-pattern-warm"></div>
                </div>
                <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 justify-content-around">
                    <div class="col mb-3" ng-repeat="ele in element.series | limitTo:5:0">
                        <div class="card rounded-0 border-0 bgg-cf-0 text-center d-product justify-content-center p-2 pb-2">
                            <a href="#!category/Apple/{{element.name}}/{{ele.name}}" class="stretched-link"><img
                                    src="assests/srcPic/{{ele.thumbnail}}" class="img-fluid mt-2 mb-3" alt=""></a>
                            <span> {{ele.name}} </span>
                            <div class="d-flex flex-row mt-2 justify-content-center" ng-hide="(ele.star==null)">
                                <i ng-repeat="s in star"
                                    class="{{(s <= ele.star) ? 'fa-solid fa-star' : (s - ele.star > 0 && s - ele.star < 1) ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star'}}"
                                    style="color: #ff7b00;"></i>
                            </div>
                            <div class="row row-cols-2 justify-content-between mt-3 price">
                                <div class="col text-center d-flex flex-row gap-1">
                                    <span style="color: green;">${{ele.curPrice}} </span>
                                    <span ng-hide="ele.oriPrice == null"
                                        style="text-decoration: line-through;">${{ele.oriPrice}}</span>
                                </div>
                                <div class="col text-end">
                                    <i ng-hide="categories[0].logo==null" class="{{categories[0].logo}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#!category/{{element.name1}}/{{element.name}}/{{ele.name}}"
                                class="text-semiBlack">Guides</a> ·
                            <a href="#!category/{{element.name1}}/{{element.name}}/{{ele.name}}"
                                class="text-semiBlack">Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  class="p-4 mb-2 pt-2 text-center container text-bg-cf">
            <!-- more-info -->
            <div class="mt-4">
                <h2 class="text-center">Why Swappa?</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center gy-3">
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-handshake" style="color: #005eff;"></i>
                        </div>
                        <div class="my-2">
                            <h3>People Powered</h3>
                            <p>On Swappa, you buy and sell directly with other users. No middleman means you get the
                                best price and most value.</p>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-ban" style="color: #c41c1c;"></i>
                        </div>
                        <div class="my-2">
                            <h3>No Junk</h3>
                            <p>Swappa does not allow broken items. Every product has listing requirements and an
                                approval process.</p>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-list-check" style="color: #255cbb;"></i>
                        </div>
                        <div class="my-2">
                            <h3>Verified Listings</h3>
                            <p>Every listing on Swappa is verified by our expert staff to ensure our strict listings
                                requirements are followed. Buy with confidence.</p>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-hand-fist" style="color: #6b5705;"></i>
                        </div>
                        <div class="my-2">
                            <h3>F**k Fraud</h3>
                            <p>Our moderation staff uses the latest, greatest AI and machine-learning tools to fight
                                fraud before it affects our users.</p>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-hand-holding-dollar" style="color: #3cc035;"></i>
                        </div>
                        <div class="my-2">
                            <h3>Fair Fees</h3>
                            <p>Swappa has fair fees, just 3% per party. That means buyers save more and sellers keep
                                more compared to other marketplaces.</p>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="h1"><i class="fa-solid fa-envelope-open-text" style="color: #366ac4;"></i>
                        </div>
                        <div class="my-2">
                            <h3>Great Support</h3>
                            <p>Our support is provided by real humans who actually care. Swappa's typical response
                                time for help requests is around 20 minutes!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="card rounded-0 border-0">
                <h3 class="text-center card-header">Recognized for value and safety</h3>
                    <div
                        class="row justify-content-around row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 align-middle bgg-cf-100 m-0">
                        <div class="col">
                            <a href="" class="btn"><img class="img-fluid"
                                    src="https://static.swappa.com/static/images/press/press_wsj.png" alt=""></a>
                        </div>
                        <div class="col">
                            <a href="" class="btn"><img class="img-fluid pt-3"
                                    src="https://static.swappa.com/static/images/press/press_theverge.png" alt=""></a>
                        </div>
                        <div class="col">
                            <a href="" class="btn"><img class="img-fluid"
                                    src="https://static.swappa.com/static/images/press/press_tomsguide.png" alt=""></a>
                        </div>
                        <div class="col">
                            <a href="" class="btn"><img class="img-fluid"
                                    src="https://static.swappa.com/static/images/press/press_lifehacker.png" alt=""></a>
                        </div>
                        <div class="col">
                            <a href="" class="btn"><img class="img-fluid"
                                    src="https://static.swappa.com/static/images/press/press_cnet.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>